.photo{
   margin: $margin-blok-all;
      max-width: $width-blok-all ;
      width: 89.6%;
   text-align: center;
   height: 1032px;
   position: relative;
   margin-bottom: 200px;
   .photo__title{
      
      margin-top: 200px;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
   }
   .photo__bloks{
     
      display: grid;
      grid-template-columns: repeat(6, 14.4%);
      grid-template-rows: repeat(2, 400%);
      gap: 40px;
      margin-top: 90px;
      .one{
         background-color: aqua;
         grid-column: 1 / span 2;
      }
      .two {
         grid-row: span 2;
         grid-column: span 2;
         background-color: bisque;
      }
      .five {
         background-color: black;
         grid-column: 1 / span 2;

      }
      .six {
         grid-column: span 2;
         background-color: green;
      }
      .three, .four {
         background-color: grey;
      }
      
      }
      .photo__btn {
         width: 254px;
         height: 56px;
         position: absolute;
         bottom: 15px;
         left: 42%;
   }
   }

   @media (max-width: 1280px) {

      .photo{
      margin-top: 55px;
      margin-left: $margin-blok-two;
      margin-right: $margin-blok-two;
      max-width: $width-blok-one ;
      width: 96%;
      height: 530px;
         position: relative;
         padding-bottom: 100px;
         margin-bottom: 74px;
         .photo__title{
      
            margin-top: 66px;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
         }
         .photo__bloks{
     
            display: flex;
            margin-top: 32px;
            .photo__bloks-type {
               width: 320px;
               height: 280px;
            }
      }
      .photo__btn {
         width: 254px;
         height: 56px;
         position: absolute;
         bottom: 15px;
         left: 42%;
   }
   }

   }
   